html {
  font-family: var(--var-roboto);
  background-color: #141618;
  color: #F4F0F0;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
